*.log
*.pot
*.pyc
__pycache__/

staticfiles/

media/

venv/
venv*/
*.env

*.bak
*.swp
*~

db.sqlite3
*.sqlite3
*.db

**/migrations/

local_settings.py

pip-log.txt
pip-delete-this-directory.txt

uploads/*.jpg
uploads/*.jpeg
uploads/*.png

!uploads/test_image_1.jpg
!uploads/test_image_2.jpg
!uploads/test_image_3.jpg
!uploads/test_image_4.jpg
